<div class="d-flex justify-content-center">
  <h1 class="mb-5">Productos</h1>
</div>

<div
  class="d-flex justify-content-center mb-3"
  *ngFor="let product of products"
>
  <div class="card" style="width: 40rem">
    <img [src]="product.image_link" alt="{{ product.title }}" />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <a href="#" class="btn btn-primary">{{ product.price | currency }}</a>
      <p>Stock: {{ product.stock }}</p>
      <p>Subcategoría: {{ product.subcategory.name }}</p>
    </div>
  </div>
</div>
