<div class="d-flex justify-content-center">
  <h1 class="mb-5">Productos</h1>
</div>

<div class="d-flex justify-content-center mb-3" *ngFor="let producto of productos">
  <div class="card" style="width: 40rem;">
    <img [src]="producto.image" alt="">
    <div class="card-body">
      <h5 class="card-title">{{producto.titulo}}</h5>
      <p class="card-text">{{producto.descripcion}}
      </p>
      <a href="#" class="btn btn-primary">{{producto.precio|currency}}</a>
    </div>
  </div>
</div>
