<div class="container">
  <h2 class="py-4">Crear Producto</h2>
  <form
    [formGroup]="productForm"
    (ngSubmit)="createProduct()"
    class="needs-validation justify-content-center"
    novalidate
  >
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="Ej: Mi Producto Fantastico"
            required
            [ngClass]="{ 'is-invalid': isInvalidField('title') }"
          />
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('title')"
          >
            Se requiere Título.
          </span>
        </div>
        <div class="mb-3">
          <label for="slug" class="form-label">Slug</label>
          <input
            type="text"
            class="form-control"
            id="slug"
            formControlName="slug"
            placeholder="Ej: mi-producto-fantastico"
            required
            [ngClass]="{ 'is-invalid': isInvalidField('slug') }"
          />

          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('slug')"
          >
            Se requiere Slug.
          </span>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
            placeholder="Ej: Producto traído desde China, te cambiará la vida ya que facilita el acceso a otros productos"
            required
            [ngClass]="{ 'is-invalid': isInvalidField('description') }"
          ></textarea>
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('description')"
          >
            Se requiere Descripción.
          </span>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            min="1"
            required
            [ngClass]="{ 'is-invalid': isInvalidField('price') }"
          />
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('price')"
          >
            Se requiere Precio.
          </span>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            formControlName="stock"
            min="1"
            required
            [ngClass]="{ 'is-invalid': isInvalidField('stock') }"
          />
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('stock')"
          >
            Se requiere Stock.
          </span>
        </div>
        <div class="mb-3">
          <label for="image_link" class="form-label"
            >Link de Imagen <small>(*Obligatorio)</small></label
          >
          <input
            type="text"
            class="form-control"
            id="image_link"
            formControlName="image_link"
            placeholder="Ej: https://www.imagen-sin-copyright.com/static/e-12-rs-200x200.jpg"
            [ngClass]="{ 'is-invalid': isInvalidField('image_link') }"
          />
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('image_link')"
          >
            Se requiere Link de Imágen.
          </span>
        </div>
        <div class="mb-3">
          <label for="image_file" class="form-label">Imagen</label>
          <input
            type="file"
            class="form-control"
            id="image_file"
            formControlName="image_file"
            [ngClass]="{ 'is-invalid': isInvalidField('image_file') }"
          />
          <span
            class="invalid-feedback"
            *ngIf="isInvalidField('image_file')"
          >
            Se requiere Imágen.
          </span>
        </div>

        <div class="mb-3">
          <label for="subcategory" class="form-label">Subcategoria</label>
          <select
            id="subcategory"
            formControlName="subcategory"
            class="form-select"
            [ngClass]="{ 'is-invalid': isInvalidField('subcategory') }"
          >
            <option value="">Selecciona una subcategoria</option>
            <option
              *ngFor="let subcategory of subcategories"
              [value]="subcategory.id"
            >
              {{ subcategory.name }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="isInvalidField('subcategory')"
          >
            Se requiere Subcategoria.
          </div>
        </div>
        <button
          type="button"
          class="btn btn-success mb-3"
          (click)="createProduct()"
          [disabled]="productForm.invalid"
        >
          Crear
        </button>
      </div>
    </div>
  </form>
</div>
