<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Nuestra Misión</h1>
        <p class="lead text-muted">Los profundos cambios y transformaciones económicos observados a nivel mundial
          obligan a buscar nuevas
          fuentes
          de recursos y desarrollo, encontrando en el Arte y la Cultura una alternativa factible. En vistas a este
          panorama se han desarrollado en diferentes países exitosas experiencias de fomento de las Industrias de Base
          Cultural (IC), logrando importantes repercusiones no sólo en materia social sino también económica.</p>
        <p class="lead text-muted">
          En M.A.S.C tenemos la misión de promover la industria cultural del país Otorgándoles
          a los artistas y emprendedores culturales en general, diferentes herramientas para la comercialización o
          difusión de sus obras o servicios. Proyecto para <a href="https://www.ispc.edu.ar/" class="text-muted">
            <u>ISPC</u></a>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt=""
          class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-bold">La alta productividad de las actividades culturales...
        </h2>
        <p class="font-italic text-muted mb-4">... y sus innegables
          impactos en diferentes ámbitos de la economía, como por ejemplo el turismo, son una clara manifestación de la
          interconexión cultura-economía.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Ver
          Más</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
          src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">M.A.S.C. (Mercado de Arte y Servicios Culturales)</h2>
        <p class="font-italic text-muted mb-4"> Es un proyecto de base
          tecnológica que busca potenciar la difusión y comercialización de productos y servicios relacionados al arte y
          la cultura, apoyando a los emprendedores culturales a nivel nacional.</p><a href="#"
          class="btn btn-light px-5 rounded-pill shadow-sm">Ver Más</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Nuestro Equipo</h2>
        <p class="font-italic text-muted">Aspiramos a ser la plataforma digital con e-commerce más importante
          del país en materia de Industrias Creativas.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Stefanía Jara</h5><span class="small text-uppercase text-muted">Frontend - Dev</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Facundo Díaz</h5><span class="small text-uppercase text-muted">Backend - Dev</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Emmanuel Cantarino</h5><span class="small text-uppercase text-muted">Frontend - Dev</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tamara Sorsaburu</h5><span class="small text-uppercase text-muted">Frontend - Dev</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Maria Alejandra Rodriguez</h5><span class="small text-uppercase text-muted">Backend -
            Dev</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-6 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Juan Carlos</h5><span class="small text-uppercase text-muted">Backend - Dev</span>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
