<div class="container mt-5 mb-3">
  <div class="row">
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/escenicas">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Actores</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Actores 🧑</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>23 / 50</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/musica">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Directores</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Directores 🎬</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>26 / 30</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/visuales">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Guionistas</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Guionistas ✍</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>19 / 20</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/otros">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Obras de Teatro</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Obras de Teatro ➕</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>100 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
