<div class="container mt-5 mb-3">
  <div class="row">
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Pintura - Grabado</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Pintura - Grabado 🎨</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>35 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Escultura</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Escultura 🗿</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>0 / 77</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Fotografía</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Fotografía 📷</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>5 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Cine</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Cine 📼</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>1 / 10</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
