<div class="container mt-5 mb-3">
  <div class="row">
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Desarrollo Web</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Desarrollo Web 👨‍💻</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>80 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Marketing Digital</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Marketing Digital 💻</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>5 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Luthería</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Luthería 🎻</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>6 / 12</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Restauración</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Restauración 🛠️</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>7 / 10</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
