.btn-outline-primary {
    border-color: #ff9933;
    color: #ff9933;
    border-radius: 50px;
    cursor: pointer;
}

.btn-primary {
    background-color: #ff9933;
    border-radius: 50px;
    cursor: pointer;
    border-color: #ff9933;
}

.btn-outline-primary:hover{
    background-color: #ff9933;
    color: #ffffff;
}