<div class="container mt-5 mb-3">
  <div class="row">
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Bandas</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Bandas 🥁</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>3 / 10</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
          </div>
          <div class="badge"> <span>Solitas</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Solistas 👨‍🎤</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>15 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
