<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="contact" class="contact-area section-padding">
	<div class="container">
		<div class="section-title text-center">
			<p>Su consulta no molesta</p>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="contact">
					<form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
						<div class="row">
							<div class="form-group col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Nombre" required="required">
							</div>
							<div class="form-group col-md-6">
								<input type="email" name="email" class="form-control" placeholder="Email" required="required">
							</div>
							<div class="form-group col-md-12">
								<input type="text" name="subject" class="form-control" placeholder="Asunto" required="required">
							</div>
							<div class="form-group col-md-12">
								<textarea rows="6" name="message" class="form-control" placeholder="Su Mensaje"
									required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg"
									title="Submit Your Message!">Enviar Mensaje</button>
							</div>
						</div>
					</form>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-5">
				<div class="single_address">
					<i class="fa fa-envelope"></i>
					<h4>Enviar un mensaje</h4>
					<p>masc@gmail.com</p>
				</div>
				<div class="single_address">
					<i class="fa fa-phone"></i>
					<h4>Contáctenos</h4>
					<p>(+54) 351 397 7100</p>
				</div>
				<div class="single_address">
					<i class="fa fa-clock-o"></i>
					<h4>Horario de atención</h4>
					<p>Lunes - Viernes: 08.00 - 18.00. <br>Sábados: 09.00 - 14.00</p>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
	<br>
	<br>
</div>
