<footer class="container py-5">
  <div class="row">
    <div class="col-2">
      <h5>Home</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-muted">Inicio</a></li>
        <li class="nav-item mb-2"><a routerLink="/servicios/categorias" class="nav-link p-0 text-muted">Servicios</a>
        </li>
        <li class="nav-item mb-2"><a routerLink="/nosotros" class="nav-link p-0 text-muted">Nosotros</a></li>
        <li class="nav-item mb-2"><a routerLink="/contacto" class="nav-link p-0 text-muted">Contacto</a></li>
        <li class="nav-item mb-2"><a routerLink="/registro" class="nav-link p-0 text-muted">Registrarse</a></li>
      </ul>
    </div>

    <div class="col-2">
      <h5>Categorias</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/servicios/categorias/escenicas"
            class="nav-link p-0 text-muted">Escénicas</a></li>
        <li class="nav-item mb-2"><a routerLink="/servicios/categorias/musica"
            class="nav-link p-0 text-muted">Musica</a></li>
        <li class="nav-item mb-2"><a routerLink="/servicios/categorias/visuales"
            class="nav-link p-0 text-muted">Visuales</a></li>
        <li class="nav-item mb-2"><a routerLink="/servicios/categorias/otros" class="nav-link p-0 text-muted">Otros
            Servicios</a></li>
      </ul>
    </div>

    <div class="col-4 offset-1">
      <form>
        <h5>Gracias por Visitarnos</h5>
        <p>No olvides que el espacio para tu artista interior es este.</p>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-between py-4 my-4 border-top">
    <p>&copy; 2023 MASC, Inc. todos los derechos reservados.</p>
  </div>
</footer>
