<div class="container mt-5 mb-3">
  <div class="row">
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/escenicas">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <h6 class="mb-0">4 +</h6> <span>Subcategorias</span>
            </div>
          </div>
          <div class="badge"> <span>Escénicas</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Escénicas 🎭</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>175 / 200</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/musica">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <h6 class="mb-0">2 +</h6> <span>Subcategorias</span>
            </div>
          </div>
          <div class="badge"> <span>Musica</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Musica 🎵</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>25 / 100</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/visuales">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <h6 class="mb-0">4 +</h6> <span>Subcategorias</span>
            </div>
          </div>
          <div class="badge"> <span>Visuales</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Visuales 🎥</h3>
          <div class="mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>12 / 120</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" routerLink="/subcategorias/otros">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <h6 class="mb-0">4 +</h6> <span>Subcategrías</span>
            </div>
          </div>
          <div class="badge"> <span>Otros Servicios</span> </div>
        </div>
        <div class="mt-5">
          <h3 class="heading text-center">Otros Servicios ➕</h3>
          <div class=" mt-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1"><b>100 / 200</b><span class="text2"> productos en Stock</span></span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
