<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top naranja rounded-bottom"
>
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/"><span class="logo">MASC</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-opacity-75" routerLink="nosotros"
            >Nosotros</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-opacity-75" routerLink="contacto"
            >Contacto</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-opacity-75" routerLink="servicios"
            >Servicios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-opacity-75" routerLink="carrito"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-shopping-cart"
              *ngIf="isAuthenticated"
            >
              <circle cx="8" cy="21" r="1"></circle>
              <circle cx="19" cy="21" r="1"></circle>
              <path
                d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
              ></path></svg
          ></a>
        </li>
        <form class="d-flex gap-2 px-2" role="search">
          <button
            class="btn btn-outline-light me-2"
            type="button"
            routerLink="login"
            *ngIf="!isAuthenticated"
          >
            Iniciar Sesión
          </button>
          <button
            class="btn btn-success"
            type="button"
            routerLink="registro"
            *ngIf="!isAuthenticated"
          >
            Registrarse
          </button>
          <button
            class="btn btn-success"
            type="button"
            routerLink="/profile"
            *ngIf="isAuthenticated"
          >
            Mi Perfil
          </button>
          <button
            class="btn btn-success"
            type="button"
            routerLink="/profile"
            *ngIf="isAuthenticated"
            (click)="onLogout()"
          >
            Cerrar Sesión
          </button>
        </form>
      </ul>
    </div>
  </div>
</nav>
