<body>
    <div class="caja_seccion">
        <form class="form-signin">
                <label for="disabledTextInput">Nombre y Apellido</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Nombre y Apellido" required autofocus>
                
                <label for="inputEmail">Correo Electrónico</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="email@dominio.com" required autofocus>
                

                <label for="inputPassword">Contraseña</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="**********" required>

                <div class="checkbox mt-2">
                    <label>
                    <input type="checkbox" value="remember-me"> Recordar contraseña
                    </label>
                </div>

                <div class="form-label-group py-2">
                    <button class="btn btn-lg btn-block" type="submit">Registrarse</button>
                </div>
        </form>
    </div>
</body>