body {
    width: 100%;
    background-image: url(/assets/img/Fondo_Textura_01.png);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    display: flex;
  }

  .form-control {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .form-signin {
    width: 100%;
    max-width: 600px;
    padding: 5px;
    margin: auto;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }

  .btn-block {
    width: 100%;
    color: white;
    background-color: #ff9933;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0.1px #245f5f;
  }

a, a:hover {
    text-decoration: none;
    color: #ffff;
  }

.caja_seccion {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15rem;
}